#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.suo
Source/*.suo
*.[Oo]bj
*.user
*.aps
*.pch
*.vspscc
*.vssscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.ilk
*.log
*.lib
*.sbr
*.sdf
*.dll
*.pdb
*.cache
*.suo
*.opensdf
*.unsuccessfulbuild
*.xml
*.dll.config

ipch/
obj/
[Bb]in/
[Bb]in/*.pdb
[Dd]ebug*/
[Rr]elease*/
Ankh.NoLoad

#Tooling
_ReSharper*/
*.resharper
[Tt]est[Rr]esult*

#Project files
[Bb]uild/

#Subversion files
.svn

# Office Temp Files
~$*

#NuGet
packages/

#ncrunch
*.ncrunchsolution

#WCF
*.svclog
